* {
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: inherit;
}

.header-content {
    align-content: center;
    text-align: center;
}

.header-text {
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    text-shadow: 0px 0px 8px black;
}

.about-me {
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    text-shadow: 0px 0px 8px black;
}