* {
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: inherit;
    text-align: center;
}

#bg {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 80vh;
    z-index: 0;
    box-shadow: 0px 0px 10px black inset;
}

.header-content {
    align-content: center;
    text-align: center;
    width: 100%;
}

.header-text {
    font-family: "Poppins", sans-serif;
    font-size: 50px;
    text-shadow: 0px 0px 8px black;
}

.about-me {
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    text-shadow: 0px 0px 8px black;
}

.about-container {
    position: absolute;
    top: 90%;
    left: 10%;
    text-align: center;
    text-shadow: 0px 0px 8px black;
}

.about-container img {
    width: 250px;
    filter: drop-shadow(5px 5px 8px black)
}

.about-container h2 {
    text-align: center;
    position: absolute;
    top: -20px;
    font-size: 30px;
    text-shadow: 0px 0px 8px black;
    margin-bottom: 10px;
    width: 400px;
    height: 150px;
    font-family: Poppins, sans-serif;
}

.history {
    position: absolute;
    top: 98%;
    right: 55%;
    text-align: center;
    text-shadow: 0px 0px 8px black;
}

.history img {
    width: 250px;
    filter: drop-shadow(5px 5px 8px black)
}

.history h2 {
    text-align: center;
    position: absolute;
    font-size: 30px;
    text-shadow: 0px 0px 8px black;
    margin-bottom: 20px;
    width: 750px;
    height: 200px;
    font-family: Poppins, sans-serif;
}